
<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title>Registration</mat-card-title>
        <mat-card-subtitle>Enter your data below</mat-card-subtitle>
        <mat-card-content>Enter yor data here</mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Register</button>
            <button mat-raised-button routerLink="/home">Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>

<div>
    <p>registration works!</p>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>